SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
EMAIL_FROM=N8Forged Mission Art Auction <auction@n8forged.com>
EMAIL_REPLY_TO=N8Darby@gmail.com
ADMIN_NOTIFICATION_EMAIL=N8Darby@gmail.com
SHOPIFY_STORE_DOMAIN=n8forged.myshopify.com
SHOPIFY_ADMIN_API_TOKEN=
SHOPIFY_API_VERSION=
ALLOWED_ORIGIN=https://n8forged.com
